<template>
  <div>
    <van-image
      width="100%"
      height="10rem"
      fit="cover"
      :src="login"
    />
    <div class="bottom">
      <van-image
      width="100%"
      height="10rem"
      fit="cover"
      :src="loginBottom"
    />
    </div>
    
  </div>
</template>

<script>
import card from '@/components/card'

export default {
  data () {
    return {
     login:"/static/images/login_top.jpg",
     loginBottom:"/static/images/login_bottom.jpg"
    }
  },

  components: {
   
  },

  methods: {
    bindViewTap () {
      const url = '../logs/main'
      if (mpvuePlatform === 'wx') {
        mpvue.switchTab({ url })
      } else {
        mpvue.navigateTo({ url })
      }
    },
   
  },

  created () {
    // let app = getApp()
  }
}
</script>

<style scoped>
  .bottom{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
  }
</style>

